@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

.row:after {
    content: "";
    display:flex;
    clear: both;
    flex-wrap: wrap;
    flex-direction: row;
}

.cabecera {
    display: flex;
    background-color: rgba(17, 136, 67, 0.473);
    background-size:cover;
    height:100vh;
    width: 100%; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.encabezado1 {
   margin:0;
   padding-bottom: 3%;

}

.encabezado2 {
    margin: 0;

}
.column4{
    width: 25% ;
    padding: 1%;
    float: left;
}

.imagen {
    width: 100%;
   
}

.info {
    text-align: center;
    margin: 0;
}

.idioma {
    background-color: rgba(17, 136, 67, 0.473);
    text-decoration: none;
}

.idioma2{
    padding: 1%;
    margin: 0;
    
}

.catalan {
    text-decoration: none;
    color: crimson;
}

.castellano {
    text-decoration: none;
    color: crimson;
}

.canales {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.column2 {
    width: 50%;
    float: left;
    
}

.adopciones {
    padding: 3%;
    text-align: justify;
}

.imagen2 {
    padding: 2%;
    width: 100%;
}

.espacio {
    padding-top: 7%;
    justify-content: center;
}

.link {
    text-decoration: none;
    color: orange;
}


@media screen and (max-width:800px) {
    .column4 {
        width: 33.33%;
    }


}